.support p {
    margin-bottom: 0px;
}

.about p {
    margin-bottom: 0px;
}


.support h6 {
    margin-bottom: 20px;
    font-size: 20px;
}

.about h6{
    margin-bottom: 20px;
    font-size: 20px;
}

.contact h6{
    margin-bottom: 20px;
    
    font-size: 20px;
}

.footer {
    width: 100%;
}